[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-decouple = "*"
psycopg2 = "*"
mysqlclient = "==2.1.1"
djangorestframework-simplejwt = {version = "~=5.3.1", extra = ["crypto"]}
djangorestframework = "*"
django = "*"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"
flake8 = "*"

[requires]
python_version = "3.11"
